<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :images %>
      <% if form.object.images.present? %>
        <div>
          <%= "削除したい画像はチェックを入れる" %>
        </div>
        <% form.object.images.each do |image| %>
          <div class="side-by-side">
            <%= image_tag image, class: "image-size" %>
            <%= form.check_box :image_ids, {multiple: true}, image.id, false %>
          </div>
        <% end %>
      <% end %>
    <div>
      <%= form.file_field :images, multiple: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :name_ja %>
    <div class="text-field">
      <%= form.text_field :name_ja, onkeydown: "KeyDown('name', 'ja')", onclick: "ClearButtonDisplay('name', 'ja'), PasteCheck('name', 'ja')" %>
      <div id="name-ja-clear" class="clear-button fas fa-times" onclick="InputClear('name', 'ja')"></div>
    </div>
  </div>

  <div class="field">
    <%= form.label :name_en %>
    <div class="text-field">
      <%= form.text_field :name_en, onkeydown: "KeyDown('name', 'en')", onclick: "ClearButtonDisplay('name', 'en'), PasteCheck('name', 'en')" %>
      <div id="name-en-clear" class="clear-button fas fa-times" onclick="InputClear('name', 'en')"></div>
    </div>
  </div>

  <div class="field">
    <%= form.label :name_gun %>
    <div class="text-field">
      <%= form.text_field :name_gun, onkeydown: "KeyDown('name', 'gun')", onclick: "ClearButtonDisplay('name', 'gun'), PasteCheck('name', 'gun')" %>
      <div id="name-gun-clear" class="clear-button fas fa-times" onclick="InputClear('name', 'gun')"></div>
    </div>
  </div>

  <div class="field">
    <%= form.label :gun_category_id %>
    <div class="radio-button-form">
      <%= form.collection_radio_buttons :gun_category_id, GunCategory.all, :id, :name, form.object.gun_category_id.blank? ? {checked: 1} : {checked: form.object.gun_category_id} %>
    </div>
  </div>

  <div class="field">
    <%= form.label :gun_type_id %>
    <%= form.number_field :gun_type_id %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select(:country_id, Country.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :motif %>
    <div class="text-area">
    <!-- <div class="Textarea"> -->
<!-- <div class="FlexTextarea__dummy" aria-hidden="true"></div> -->
      <%= form.text_area :motif, onkeydown: "KeyDown('motif')", onclick: "ClearButtonDisplay('motif'), PasteCheck('motif')", class: "" %>
      <div id="motif-clear" class="clear-button fas fa-times" onclick="InputClear('motif')"></div>
    </div>
  </div>

  <%= form.fields_for :information do |i| %>
    <%= render "information_form", form: i %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
// ここから入力値クリア
  function InputClear(ele1, ele2){
    // 引数が1つだけの場合
    if (!ele2){
      // 変数展開したいので``で囲む
      clearTargetId = document.getElementById(`character_${ele1}`);
      targetButton = document.getElementById(`${ele1}-clear`);
    } else if (ele1 == 0 || ele1 == 1) {
    // 自己紹介・趣味・好きなもの用
      clearTargetId = document.getElementById(`character_information_attributes_${ele1}_${ele2}`);
      targetButton = document.getElementById(`${ele2}-${ele1}-clear`);
    } else {
      clearTargetId = document.getElementById(`character_${ele1}_${ele2}`);
      targetButton = document.getElementById(`${ele1}-${ele2}-clear`);
    }
    this.clearTargetId.value="";
    this.clearTargetId.focus(); // クリアボタン押下でフォーカス
    targetButton.style.visibility = "hidden"; // 内容クリアでクリアボタンも非表示にする
  }
  // 入力時のみクリアボタン表示
  function KeyDown(ele1, ele2){
    if (!ele2) {
      clearTargetId = document.getElementById(`character_${ele1}`);
      targetButton = document.getElementById(`${ele1}-clear`);
    } else if (ele1 == 0 || ele1 == 1) {
    // 自己紹介・趣味・好きなもの用
      clearTargetId = document.getElementById(`character_information_attributes_${ele1}_${ele2}`);
      targetButton = document.getElementById(`${ele2}-${ele1}-clear`);
    } else {
      clearTargetId = document.getElementById(`character_${ele1}_${ele2}`);
      targetButton = document.getElementById(`${ele1}-${ele2}-clear`);
    }
    if (this.clearTargetId.value.length > 0) {
      targetButton.style.visibility = "visible";
    }
  }
// ここから入力値クリア

// ここからフィールドクリック時に入力値ありならクリアボタン表示
  function ClearButtonDisplay(ele1, ele2){
    // 引数が1つだけの場合
    if (!ele2){
      clearTargetId = document.getElementById(`character_${ele1}`);
      if (this.clearTargetId.value.length > 0){
        targetButton = document.getElementById(`${ele1}-clear`);
        targetButton.style.visibility = "visible";
      }
    } else if (ele1 == 0 || ele1 == 1) {
      clearTargetId = document.getElementById(`character_information_attributes_${ele1}_${ele2}`);
      if (this.clearTargetId.value.length > 0){
        targetButton = document.getElementById(`${ele2}-${ele1}-clear`);
        targetButton.style.visibility = "visible";
      }
    } else {
      clearTargetId = document.getElementById(`character_${ele1}_${ele2}`);
      if (this.clearTargetId.value.length > 0){
        targetButton = document.getElementById(`${ele1}-${ele2}-clear`);
        targetButton.style.visibility = "visible";
      }
    }
  }
// ここまでフィールドクリック時に入力値ありならクリアボタン表示

// ここからコピーペースト検知でクリアボタン表示
  function PasteCheck(ele1, ele2){
    if (!ele2){
      pasteTarget = document.getElementById(`character_${ele1}`);
      clearButton = document.getElementById(`${ele1}-clear`);
    } else if (ele1 == 0 || ele1 == 1) {
      pasteTarget = document.getElementById(`character_information_attributes_${ele1}_${ele2}`);
      clearButton = document.getElementById(`${ele2}-${ele1}-clear`);
    } else {
      pasteTarget = document.getElementById(`character_${ele1}_${ele2}`);
      clearButton = document.getElementById(`${ele1}-${ele2}-clear`);
    }
    pasteTarget.addEventListener("paste", function(){
      clearButton.style.visibility = "visible";
    });
  }
// ここまでコピーペースト検知でクリアボタン表示

// ここからテキストエリアリサイズ
  $(function(){
    var motif = $("#character_motif")
    var introduction1 = $("#character_information_attributes_0_introduction")
    var introduction2 = $("#character_information_attributes_1_introduction")
    motif.autosize();
    introduction1.autosize();
    introduction2.autosize();
    // コピーペースト検知でリサイズ
    motif.trigger("autosize.resize");
    introduction1.trigger("autosize.resize");
    introduction2.trigger("autosize.resize");
  });
// ここまでテキストエリアリサイズ
</script>
