  <%= form.hidden_field :character_id, value: params[:id] %>
  <!-- クリアボタン用ID取得 / 関数内で引き渡す -->
  <% @info_index = form.index %>

  <!-- 新規作成なら削除ボックス非表示 -->
  <% if form.object.id.present? %>
    <div>
      <%= "削除対象はチェックを入れる" %>
      <%= form.check_box "_destroy" %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <div class="radio-button-form">
      <%= form.collection_radio_buttons :title_id, Title.all, :id, :name, form.object.title_id.blank? ? {checked: 1} : {checked: form.object.title_id} %>
    </div>
  </div>

  <div class="field">
    <%= form.label :introduction %>
    <div class="text-area">
      <%= form.text_area :introduction, onkeydown: "KeyDown(#{@info_index}, 'introduction')", onclick: "ClearButtonDisplay(#{@info_index}, 'introduction'), PasteCheck(#{@info_index}, 'introduction')" %>
      <div id="introduction-<%= @info_index %>-clear" class="clear-button fas fa-times" onclick="InputClear(<%= @info_index %>, 'introduction')">
        <!-- ツールチップ -->
        <div class="form-clear-balloon">フォームクリア</div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.select :height, [*140..200] %> cm
  </div>

  <div class="field">
    <%= form.label :hobby %>
    <div class="text-field">
      <%= form.text_field :hobby, onkeydown: "KeyDown(#{@info_index}, 'hobby')", onclick: "ClearButtonDisplay(#{@info_index}, 'hobby'), PasteCheck(#{@info_index}, 'hobby')" %>
      <div id="hobby-<%= @info_index %>-clear" class="clear-button fas fa-times" onclick="InputClear(<%= @info_index %>, 'hobby')">
        <!-- ツールチップ -->
        <div class="form-clear-balloon">フォームクリア</div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :favorite %>
    <div class="text-field">
      <%= form.text_field :favorite, onkeydown: "KeyDown(#{@info_index}, 'favorite')", onclick: "ClearButtonDisplay(#{@info_index}, 'favorite'), PasteCheck(#{@info_index}, 'favorite')" %>
      <div id="favorite-<%= @info_index %>-clear" class="clear-button fas fa-times" onclick="InputClear(<%= @info_index %>, 'favorite')">
        <!-- ツールチップ -->
        <div class="form-clear-balloon">フォームクリア</div>
      </div>
    </div>
  </div>
