<p id="notice"><%= notice %></p>

<h1><%= t ".title" %></h1>

<!-- ここから検索フィールド -->
<div class="search-field-wrap">
  <%= form_with url: characters_path, method: :get, local: true do %>
    <div class="text-field">
      <%= text_field_tag :keyword,
                         params[:keyword],
                         placeholder: t(".keyword"),
                         onkeydown: "SearchFieldKeyDown()",
                         onclick: "KeywordClearDisplay()" %>
      <div id="search-field-clear" class="clear-button fas fa-times" onclick="KeywordClearButton()">
        <!-- ツールチップ -->
        <div class="search-clear-balloon"><%= t "views.form.clear" %></div>
      </div>
    </div>
    <div class="radio-buttons">
      <%= collection_radio_buttons(:gun_category, :gun_category_id, GunCategory.all, :id, :name, params[:gun_category].blank? ? {checked: false} : {checked: params[:gun_category][:gun_category_id]}) %>
    </div>
    <%= select_tag(:gun_type, options_from_collection_for_select(GunType.order(:ruby), :id, :name, selected: params[:gun_type]), {include_blank: t(".gun_type")}) %>
    <%= select_tag(:country, options_from_collection_for_select(Country.order(:ruby), :id, :name, selected: params[:country]), {include_blank: t(".country")}) %>
    <%= submit_tag "Search" %>
    <%= link_to characters_path do %>
      <%= button_tag "Reset" %>
    <% end %>
  <% end %>
</div>
<!-- ここまで検索フィールド -->

<div>
  <%= paginate @characters %>
</div>

<table class="cell-width-setting"><!-- 列の幅設定 -->
  <thead>
    <tr>
      <!-- ここからソート用変数 -->
      <!-- gun_category_idはハッシュ形式で変数に格納する -->
      <% @gun_category = params[:gun_category].blank? ? nil : {gun_category_id: params[:gun_category][:gun_category_id] } %>
      <!-- sort_orderに渡す検索対象カラム -->
      <% @search_theme = {keyword: params[:keyword], gun_category: @gun_category, gun_type: params[:gun_type], country: params[:country]} %>
      <!-- ここまでソート用変数 -->
      <th class="sort-link">
        <%= sort_order "name_ja", t(".name_ja"), @search_theme %>
        <!-- ツールチップ -->
        <div class="sort-link-width-setting">
          <div class="sort-link-balloon"><%= t("views.sort.name_ja") %></div>
        </div>
      </th>
      <th class="sort-link">
        <%= sort_order "name_en", t(".name_en"), @search_theme %>
        <!-- ツールチップ -->
        <div class="sort-link-width-setting">
          <div class="sort-link-balloon"><%= t("views.sort.name_en") %></div>
        </div>
      </th>
      <th class="sort-link">
        <%= sort_order "name_gun", t(".name_gun"), @search_theme %>
        <!-- ツールチップ -->
        <div class="sort-link-width-setting">
          <div class="sort-link-balloon"><%= t("views.sort.name_gun") %></div>
        </div>
      </th>
      <th></th>
      <th>Gun category</th>
      <th>Gun type</th>
      <th>Country</th>
      <th class="cell-width-motif"><%= t ".motif" %></th>
      <th colspan="3" class="cell-width-icon">Do</th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name_ja %></td>
        <td><%= character.name_en %></td>
        <td><%= character.name_gun %></td>
        <td>
          <% if character.images.present? %>
            <%= image_tag character.images.first, class: "top-thumbnail" %>
          <% end %>
        </td>
        <td><%= character.gun_category_id %></td>
        <td><%= character.gun_type_id %></td>
        <td><%= character.country_id %></td>
        <td><%= character.motif %></td>
        <td class="tooltip-icon">
          <!-- take_paramsメソッドで検索条件保持 -->
          <%= link_to character_path(character, take_params) do %>
            <i class="fas fa-info-circle"></i>
          <% end %>
          <!-- ツールチップ -->
          <div class="tooltip-icon-balloon tooltip-design-show"><%= t("views.icon.show") %></div>
        </td>
        <td class="tooltip-icon">
          <%= link_to edit_character_path(character, take_params) do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <!-- ツールチップ -->
          <div class="tooltip-icon-balloon tooltip-design-edit"><%= t("views.icon.edit") %></div>
        </td>
        <td class="tooltip-icon">
          <%= link_to character, method: :delete, data: { confirm: t(".message", name_ja: character.name_ja) } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          <!-- ツールチップ -->
          <div class="tooltip-icon-balloon tooltip-design-destroy"><%= t("views.icon.delete") %></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_character_path(take_params) do %>
  <i class="fas fa-plus-square fa-lg"></i>
<% end %>

<script>
  // オートコンプリート
  window.addEventListener('keydown', function(){
    data = <%== Character.pluck(:name_ja, :name_en, :name_gun).flatten.uniq %>;
    $("#keyword").autocomplete({
      // 前方一致で候補を表示
      source: function(request, response) {
        response(
          $.grep(data, function(value){
            return value.indexOf(request.term) === 0;
          })
        );
      }
    });
  });
</script>
<%= javascript_include_tag "characters/index" %>
