<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<div class="search-field-wrap">
  <%= form_with url: characters_path, method: :get, local: true do %>
    <div class="text-field">
      <%= text_field_tag :keyword, params[:keyword], placeholder: "キーワード入力", onkeydown: "SearchFieldKeyDown()" %>
      <div id="search-field-clear" class="clear-button fas fa-times" onclick="KeywordClearButton()"></div>
    </div>
    <div class="radio-buttons">
      <%= collection_radio_buttons(:gun_category, :gun_category_id, GunCategory.all, :id, :name, params[:gun_category].blank? ? {checked: false} : {checked: params[:gun_category][:gun_category_id]}) %>
    </div>
    <%= select_tag(:country, options_from_collection_for_select(Country.all, :id, :name, selected: params[:country]), {include_blank: "国名を選択"}) %>
    <%= submit_tag "Search" %>
    <%= link_to characters_path do %>
      <%= button_tag "Reset" %>
    <% end %>
  <% end %>
</div>

<div>
  <%= paginate @characters %>
</div>

<table>
  <thead>
    <tr>
      <th>Name ja</th>
      <th>Name en</th>
      <th>Name gun</th>
      <th></th>
      <th>Gun category</th>
      <th>Gun type</th>
      <th>Country</th>
      <th>Motif</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name_ja %></td>
        <td><%= character.name_en %></td>
        <td><%= character.name_gun %></td>
        <td>
          <% if character.images.present? %>
            <%= image_tag character.images.first, class: "top-thumbnail" %>
          <% end %>
        </td>
        <td><%= character.gun_category_id %></td>
        <td><%= character.gun_type_id %></td>
        <td><%= character.country_id %></td>
        <td><%= character.motif %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>

<script>
  // onclick 検索フィールドクリアボタン
  function KeywordClearButton(){
    this.keyword.value="";
    this.keyword.focus(); // クリアボタン押下でフォーカス
    target = document.getElementById("search-field-clear");
    target.style.visibility = "hidden"; // キーワードクリアでクリアボタンも非表示にする
  }

  // onkeydown 入力時のみクリアボタン表示
  function SearchFieldKeyDown(){
    target = document.getElementById("search-field-clear");
    target.style.visibility = "visible";
  }
</script>
