<p id="notice"><%= notice %></p>

<% @character.images.each do |i| %>
  <div class="">
    <%= image_tag i, class: "image-size" %>
  </div>
<% end %>

<p>
  <strong>Name ja:</strong>
  <%= @character.name_ja %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @character.name_en %>
</p>

<p>
  <strong>Name gun:</strong>
  <%= @character.name_gun %>
</p>

<p>
  <strong>Gun category:</strong>
  <%= @gun_category %>
</p>

<p>
  <strong>Gun type:</strong>
  <%= @character.gun_type_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @country %>
</p>

<div class="tab-wrap">
  <input id="tab-character-<%= @character.id %>" type="radio" name="TAB" class="tab-switch" checked="checked" />
  <label class="tab-label" for="tab-character-<%= @character.id %>">MOTIF</label>
  <div class="tab-content">
    <%= simple_format(h(@character.motif)) %>
  </div>
  <% @information.each do |i| %>
    <% if @character.information.any? %>
      <input id="tab-information-<%= i.id %>" type="radio" name="TAB" class="tab-switch" />
      <label class="tab-label" for="tab-information-<%= i.id %>">
        <%= Title.find(i.title_id).name %>
      </label>
      <div class="tab-content">
        <p>
          <strong>Introduction:</strong>
          <%= simple_format(h(i.introduction)) %>
        </p>

        <p>
          <strong>Height:</strong>
          <%= i.height %> cm
        </p>

        <p>
          <strong>Hobby:</strong>
          <%= i.hobby %>
        </p>

        <p>
          <strong>Favorite:</strong>
          <%= i.favorite %>
        </p>
      </div>
    <% end %>
  <%end%>
</div>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
