<!DOCTYPE html>
<html>
  <head>
    <title>Musketeers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- swiper設置 css -->
    <%= stylesheet_link_tag "https://unpkg.com/swiper/swiper-bundle.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- swiper設置 js -->
    <%= javascript_include_tag "https://unpkg.com/swiper/swiper-bundle.min.js" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
