<!DOCTYPE html>
<html>
  <head>
    <title>Musketeers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- swiper設置 css -->
    <%= stylesheet_link_tag "https://unpkg.com/swiper/swiper-bundle.min.css" %>
    <!-- 画面クリックで拡大css -->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" %>
    <!-- Awe Some読み込み -->
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.15.2/css/all.css" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <!-- swiper設置 js -->
    <%= javascript_include_tag "https://unpkg.com/swiper/swiper-bundle.min.js" %>
    <!-- ここから画面クリックで拡大js -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" %>
    <!-- ここまで画面クリックで拡大js -->
  </body>
</html>
